@font-face {
    font-family: 'PT Root UI';
    font-weight: bold;
    src:  url('../fonts/PT-Root-UI_Regular.woff2') format('woff2'),
          url('../fonts/PT-Root-UI_Regular.woff') format('woff');
  }


  @font-face {
    font-family: 'PT Root UI medium';
    src:  url('../fonts/PT-Root-UI_Medium.woff2') format('woff2'),
          url('../fonts/PT-Root-UI_Medium.woff') format('woff');
  }



  @font-face {
    font-family: 'PT Root UI bold';
    src:  url('../fonts/PT-Root-UI_Bold.woff2') format('woff2'),
          url('../fonts/PT-Root-UI_Bold.woff') format('woff');
  }



* {
    box-sizing: border-box;
    font-family: 'PT Root UI';
    padding: 0;
    margin: 0;
}


html {
    height: 100vh;
}

 body, .page {
    height: 100%;
}


.page {
    display: flex;
    flex-direction: column;
    padding: 48px 85px 0 77px;
    background-color: #F2F2F2;
}


.page h1 {
    margin-left: 42px;
    margin-top: 2px;
    font-family: 'PT Root UI medium';
    font-size: 35px;
    line-height: 44px;
    color: #333333;
}

.checkout {
    max-width: 1743px;
    display: flex;
    flex: 1;
    margin-top: 19px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    box-sizing: border-box;
    border-radius: 6px;
}

.checkout .left-block {
    flex: 1;
    padding: 40px 82px 0 43px;
    border-right: 1px solid #8C8C8C;
}

.checkout .right-block {
    flex: 1;
    max-width: 625px;
    padding: 40px 86px 0 50px;
}

 .left-block h2 {
    font-size: 29px;
    line-height: 37px;
    color: #333333;
    font-family:'PT Root UI medium';
 } 

 .left-block .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .left-block .header .actions {
     display: flex;
 }

 .left-block .header button {
    cursor: pointer;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; 
    height: 40px;
    width: 40px;
    color: #D6D6D6;
    background-color: #fff;
    text-align: center;
 }

 .left-block .header button:hover {
    border: 1px solid #000;
 }

.right-block .title span {
    font-size: 29px;
    line-height: 37px;
}

.fields-wrapper {
    margin-top: 30px;
}

.fields-wrapper .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.fields-wrapper .field .name {
    font-size: 22px;
    line-height: 28px;
    color: #333333;
}

.fields-wrapper .field .name .light-grey {
    color: #6E6E73;
}

.fields-wrapper .field .value {
    font-family: 'PT Root UI bold';
    font-size: 22px;
    line-height: 28px;
    color: #333333;
    white-space: nowrap;
}

.footer {
    border-top: 1px solid #D6D6D6;
    display: flex;
    align-items: center;
    padding: 19px 184px 20px 120px;
    position: fixed;
    background-color: #F8F8F8;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer button {
    padding: 21px 50px 22px 50px;
    background-color: #EC0002;
    font-family: 'PT Root UI medium';
    font-style: normal;
    border: none;
    font-size: 29px;
    line-height: 37px;
    color: #FFFFFF;
    white-space: nowrap;
}

.description {
    margin-left: 40px;
    margin-right: 149px;
}
.description p {
    font-family: 'PT Root UI';
    font-style: normal;
    font-size: 17px;
    line-height: 21px;
    color: #333333;
}

.description p b {
    font-family: 'PT Root UI bold';
}

.description p a {
    text-decoration: none;
    color: #065CC2;
}

.summary {
    margin-right: 80px;
}

.summary span {
    font-size: 22px;
    line-height: 28px;
    white-space: nowrap;
}

.result-price span {
    font-family: 'PT Root UI medium';
    font-style: normal;
    font-size: 35px;
    line-height: 44px;
    white-space: nowrap;
}