@font-face {
    font-family: 'PT Root UI';
    font-weight: bold;
    src:  url('../fonts/PT-Root-UI_Regular.woff2') format('woff2'),
          url('../fonts/PT-Root-UI_Regular.woff') format('woff');
  }


  @font-face {
    font-family: 'PT Root UI medium';
    src:  url('../fonts/PT-Root-UI_Medium.woff2') format('woff2'),
          url('../fonts/PT-Root-UI_Medium.woff') format('woff');
  }



  @font-face {
    font-family: 'PT Root UI bold';
    src:  url('../fonts/PT-Root-UI_Bold.woff2') format('woff2'),
          url('../fonts/PT-Root-UI_Bold.woff') format('woff');
  }



* {
    box-sizing: border-box;
    font-family: 'PT Root UI';
    padding: 0;
    margin: 0;
}


html {
    background-color: #F2F2F2;
    height: 100%;
}

 body {
    height: 100%;
}

button {
    cursor: pointer;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: 'PT Root UI bold';
    padding: 34px 58px 12px 14px;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.13px;
    color: #333333;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #D6D6D6;
}


@media (max-width: 480px) {
    select {
        font-size: 17px;
        line-height: 20px;
    }
}

.named-select {
    position: relative;
}


.bold {
    color: #333333;
    font-family: 'PT Root UI bold';
}

.named-select .name{
    position: absolute;
    top: 8px;
    left: 20px;

}

.named-select .arrow {
    position: absolute;
    right: 20px;
    top: 28px;
}

.text-button {
    cursor: pointer;
    font-size: 22px;
    line-height: 28px;
    color: #065CC2;
}

@media (max-width: 480px) {
    .text-button {
        font-size: 17px;
        line-height: 21px;
    }
}

.card {
    cursor: pointer;
    flex: 1;
    margin-right: 14px;
    display: flex;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
}

@media (max-width: 480px) {
    .card {
        padding: 16px 20px;
        margin-right: 8px;
    }
}

.card:last-child {
    margin-right: 0;
}

.card:hover {
    border: 1px solid #065CC2;
}

.card .title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    font-family:'PT Root UI medium';
    color: #333333;
}

.card .description {
    font-size: 22px;
    line-height: 28px;
    color: #333333;
}

.card .price-moblie {
    display: none;
}

.card .price {
    margin-left: 15px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #333333;
}


@media (max-width: 480px) {

    .card {
        max-height: 114px;
    }

    .card .title {
        font-size: 17px;
        line-height: 21px;
    }

    .card .description {
        margin-top: 4px;
        font-size: 14px;
        line-height: 18px;
    }

    .card .price {
        display: none;
    }

    .card .price-moblie {
        display: block;
    }
}


.page {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 85px 248px 77px;
}

@media (max-width: 480px) {
    .page {
        padding: 0;
        padding-bottom: 120px;
    }
}

.page-header {
    width: 100%;
    max-width: 1760px;
    padding: 0 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px) {
    .page-header {
        flex-direction: column-reverse;
        white-space: nowrap;
        margin-top: 40px;
        align-items: flex-start;
        padding-left: 16px;
    }
}

@media (max-width: 480px) {
    .page-header .text-button {
        margin-bottom: 8px;
        font-size: 17px;
        line-height: 21px;

    }
}

.page h1 {
    max-width: 1760px;
    margin-top: 2px;
    font-family: 'PT Root UI medium';
    font-size: 35px;
    line-height: 44px;
    color: #333333;
}

@media (max-width: 480px) {
    .page h1 {
        font-size: 27px;
        line-height: 34px;

    }
}

.checkout {
    display: flex;
    flex: 1;
    max-width: 1760px;
    margin: 19px auto;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 6px;
}


@media (max-width: 1280px) {
    .checkout {
        width: 100%;
        flex-direction: column;
        border: none;
        border-radius: 0;
    }
}


.checkout .left-block {
    flex: 1;
    min-width: 600px;
    padding: 40px 82px 60px 43px;
    border-right: 1px solid #8C8C8C;
}

@media (max-width: 1280px) {
    .checkout .left-block {
        border-right: none;
        padding-left: 16px;
        padding-top: 24px;
    }   
}


@media (max-width: 480px) {
    .checkout .left-block {
        min-width: 100%;
        padding-right: 0;
    } 
}

.left-block h2 {
    font-size: 29px;
    line-height: 37px;
    color: #333333;
    font-family:'PT Root UI medium';
 } 

 @media (max-width: 1280px) {
    .left-block h2 {
        font-size: 21px;
        line-height: 26px;  
    }   
}

 .left-block .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 @media (max-width: 1280px) {
    .left-block .header {
        align-items: flex-start;
    }   
}

 .left-block .header .actions {
     display: flex;
 }

 @media (max-width: 480px) {
    .left-block .header .actions {
        display: none;
    }
 }

 .left-block .header button {
    cursor: pointer;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; 
    height: 40px;
    width: 40px;
    color: #D6D6D6;
    background-color: #fff;
    text-align: center;
 }

.left-block .header button:hover {
    border: 1px solid #000;
}   


.checkout .right-block {
    flex: 1;
    min-width: 460px;
    max-width: 600px;
    padding: 40px 86px 0 50px;
}

@media (max-width: 1280px) {
    .checkout .right-block {
        display: none;

    }   
}


 
.right-block .title span {
    font-size: 29px;
    line-height: 37px;
}

.fields-wrapper {
    margin-top: 30px;
}

.fields-wrapper .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.fields-wrapper .field .name {
    font-size: 22px;
    line-height: 28px;
    color: #333333;
}

.fields-wrapper .field .name .light-grey {
    color: #6E6E73;
}

.fields-wrapper .field .value {
    font-family: 'PT Root UI bold';
    font-size: 22px;
    line-height: 28px;
    color: #333333;
    white-space: nowrap;
}

.mobile-fields {
    display: none;
}

@media (max-width: 480px) {
    .checkout .right-block {
        z-index: 10;
        background-color: #fff;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 100vh;
        display: none;
        min-width: 100%;
    }   

    .checkout .right-block.show {
        display: flex;
        flex-direction: column;
    }

    .checkout .right-block .title {
        padding: 40px 16px 0;
    }

    .checkout .right-block .title span {
        font-size: 21px;
        line-height: 26px;
    }

    .fields-wrapper {
        margin-top: 20px;
        padding: 0 16px;
    }

    .mobile-fields .fields-wrapper {
        margin: 20px 0;
    }

    .fields-wrapper .field .name {
        font-size: 17px;
        line-height: 21px;
    }

    .fields-wrapper .field .value {
        font-size: 17px;
        line-height: 21px;
    }

    hr {
        background-color: #D6D6D6;
        margin: 6px 16px 0;
    }

    .mobile-fields {
        display: block;
    }
}


.footer {
    border-top: 1px solid #D6D6D6;
    position: fixed;
    background-color: #F8F8F8;
    bottom: 0;
    left: 0;
    right: 0;
}


.footer-wrapper {
    display: flex;
    align-items: center;
    padding: 20px 32px;
    max-width: 1760px;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .button-wrapper {
        display: flex;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .footer-wrapper {
        padding: 16px;
    }
}

.footer button {
    border-radius: 4px;
    padding: 21px 50px 22px 50px;
    background-color: #EC0002;
    font-family: 'PT Root UI medium';
    font-style: normal;
    font-size: 29px;
    line-height: 37px;
    color: #FFFFFF;
    white-space: nowrap;
    margin-right: 40px;
    background: linear-gradient(0deg, #EC0002, #EC0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #D02626 99.65%), #FF0000;
    border: 1px solid #E01D1D;
    box-sizing: border-box;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
}


@media (max-width: 480px) {
    .footer button {
        font-size: 17px;
        line-height: 21px;
        width: 100%;
        margin-right: 0;
        background: linear-gradient(0deg, #EC0002, #EC0002), linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #D02626 99.65%), #FF0000;
        border: 1px solid #E01D1D;
        box-sizing: border-box;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
    }
  }


.footer .description {
    margin-right: 32px;
}


@media (max-width: 1280px) {
    .footer .description {
      display: none !important;
    }
  }

.footer .description p {
    font-family: 'PT Root UI';
    font-style: normal;
    font-size: 17px;
    line-height: 21px;
    color: #333333;
}

.footer .description p b {
    font-family: 'PT Root UI bold';
}

.footer .description p a {
    text-decoration: none;
    color: #065CC2;
}

.summary {
    margin-right: 80px;
}

@media (max-width: 1280px) {
    .summary {
      display: none !important;
    }
  }

.summary span {
    font-size: 22px;
    line-height: 28px;
    white-space: nowrap;
}

@media (max-width: 1280px) {
    .result-price {
      display: none !important;
    }
  }


  .mobile-info {
      display: none;
  }

  @media (max-width: 480px) {
    .mobile-info {
      display: flex;
      justify-content: space-between;
      margin: 16px 16px 0 16px;
    }
  }

  .mobile-summary span {
    font-family: 'PT Root UI medium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
  }

.mobile-popup-text-button {
    font-family: 'PT Root UI medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #065CC2
}

.result-price span {
    font-family: 'PT Root UI medium';
    font-style: normal;
    font-size: 35px;
    line-height: 44px;
    white-space: nowrap;
}

.content {
    margin-top: 14px;
}


@media (max-width: 480px) {
    .content {
        margin-top: 8px;
    }
}


.delivery-adress {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    margin-bottom: 14px;
}


.delivery-adress::-webkit-scrollbar {
    display: none;
}

@media (max-width: 480px) {

    .delivery-adress {
        padding-right: 16px;
    }

    .delivery-adress .card {
        min-width: 300px;
    }   
}

.delivery-date {
    margin-top: 30px;
    display: flex;
    align-items: center;
}


.delivery-date-cards {
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
}

.delivery-date-button {
    margin-left: 30px;
}

@media (max-width: 480px) {
    .delivery-date {
        flex-direction: column;
        align-items: flex-start;
    }

    .delivery-date-button {
        margin-top: 12px;
        margin-left: 0;
    }
    
}


@media (max-width: 480px) {

    .delivery-date .card {
        min-width: 117px;
    }
}

.settings-block .checkbox {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.settings-block .checkbox label {
    font-size: 22px;
    line-height: 28px;
    color: #333333;
}

@media (max-width: 480px) {
    .settings-block .checkbox label {
        font-size: 17px;
        line-height: 21px;
    }
}

.settings-block .checkbox input {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.recepient-block {
    margin-top: 30px;
}

.recepient-block .recepient-fields-wrapper {
  display: flex;
}

@media (max-width: 480px) {
    .recepient-block .recepient-fields-wrapper {
        flex-direction: column;
        align-items: flex-start;
      }
}

.recepient-block .recepient-fields-wrapper .field {
    margin-top: 14px;
    margin-right: 14px;
}

.recepient-block .recepient-fields-wrapper .field select{
    margin-bottom: 14px;
}

.recepient-block .recepient-fields-wrapper .field:last-child {
    margin-right: 0;
}

.payment {
    margin-top: 30px;
}

.payment .payment-cards {
    margin-top: 6px;
    display: flex;
}

@media (max-width: 480px) {
    .payment .payment-cards {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 16px;
    }

    .payment .payment-cards .card {
        width: 100%;
        margin-bottom: 16px;
    }

    .payment .payment-cards .card .title { 
        font-size: 17px !important;
        line-height: 21px;
    }
}

.payment .payment-cards .card {
    background: #fff; 
    white-space: nowrap; 
}

.payment .payment-cards .card:hover {
    border: 1px solid #065CC2;
    background: #FFFFFF;
}

.payment .payment-cards .card .title {
    font-family: 'PT Root UI medium';
    font-size: 22px;
    line-height: 28px;
    color: #333333;
}

.payment .payment-cards .card:hover .title {
    color: #333333;
}

.payment .payment-cards .card .price {
    color: #6E6E73;
}